<div class="container">
  <div class="alert alert-secondary text-center">発生していた障害の一覧です</div>
  <%= link_to "サーバー・サブネットの障害情報を再度検索する", new_trouble_path, class:"text-secondary d-block text-decoration-none my-2 text-center" %>
  <%= link_to "応答時間の長いサーバーを調べる", select_servers_path, class:"text-secondary d-block text-decoration-none my-2 text-center" %>
  <%= link_to "サーバー一覧のページに戻る", servers_path, class:"text-secondary d-block text-decoration-none my-2 text-center" %>
  <%= link_to "ログ一覧のページに戻る", logs_path, class:"text-secondary d-block text-decoration-none my-2 text-center" %>

  <%= render "shared", troubles: @troubles %>
</div>